<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/post.css"/>
    <link rel="stylesheet" href="../css/foundation.css"/>
    <title>게시글</title>
    <style>
    </style>
</head>
<body>
<div>
    <header class="header">
        <div class="logo">HELLO, WEB!</div>
        <div>
            <button class="button login-button">로그인/회원가입</button>
        </div>
    </header>

    <div class="container">
        <div class="title-wrapper">
        </div>
        <div class="meta-wrapper">
        </div>
        <div class="content-wrapper">
        </div>
        <div class="comment-container">
            <div class="comment-count">
                <span>댓글 1개</span>
            </div>
            <div class="comment-wrapper">
                <div class="comment-username">
                    <span>user</span>
                </div>
                <div class="comment-content">
                    <p>댓글을 쓰면 이렇게 보입니다.</p>
                </div>
                <div class="comment-created-at">
                    <span>2024-02-05</span>
                </div>
            </div>
            <div class="comment-wrapper">
                <div class="comment-username">
                    <span>user</span>
                </div>
                <div class="comment-content">
                    <p>댓글을 쓰면 이렇게 보입니다.</p>
                </div>
                <div class="comment-created-at">
                    <span>2024-02-05</span>
                </div>
            </div>
            <div class="comment-write">
                <div class="write-username">
                    User
                </div>
                <label id="comment">
                    <textarea placeholder="댓글 작성"></textarea>
                </label>
            </div>
        </div>
        <div class="footer-wrapper">
            <div class="post-navigation-wrapper">
                <button class="button prev-button">이전 글</button>
                <button class="button next-button">다음 글</button>
            </div>
            <button class="button list-button">목록으로</button>
        </div>
    </div>
</div>
</body>

<script type="module" src="../js/post.js"></script>
<script type="module" src="../js/header.js"></script>

</html>