.container {
    margin: var(--size-500) auto;
    width: 680px;
}

.title {
    font: var(--display-L);
}

.meta-wrapper {
    margin-top: var(--size-500);
    height: var(--size-600);
    border-bottom: 1px solid var(--gray-100);
    border-top: 1px solid var(--gray-100);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.meta-wrapper > span {
    margin-right: var(--size-400);
    font: var(--body-S);
    color: var(--gray-200);
}

.content-wrapper {
    margin-top: var(--size-500);
}

.content-wrapper > p {
    font: var(--body-R);
    color: var(--black);
    line-height: 25.6px;
}

.comment-container {
    margin-top: var(--size-500);
    padding-top: var(--size-200);
    border-top: 1px solid var(--gray-200);
}

.comment-count > span {
    font: var(--bold-R);
    color: var(--gray-200);
}

.comment-wrapper {
    margin-top: var(--size-500);
    border-bottom: 1px solid var(--gray-100);
    padding-bottom: var(--size-300);
}

.comment-username {
    margin-bottom: var(--size-100);
}

.comment-username > span {
    font: var(--bold-S);
    color: var(--primary);
}

.comment-content {
    margin-bottom: var(--size-100);
}

.comment-content > p {
    font: var(--body-R);
    color: var(--black);
    line-height: 26.5px;
    height: 26px;
    margin-bottom: var(--size-100);
}

.comment-created-at > span {
    font: var(--body-S);
    color: var(--gray-200);
    height: 26px;
}

.footer-wrapper {
    margin-top: var(--size-500);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-navigation-wrapper {
    display: flex;
    gap: var(--size-200);
}

.comment-write {
    margin-top: var(--size-500);
    border: 1px solid var(--gray-100);
    border-radius: var(--size-100);
    padding: var(--size-250);
}

.write-username {
    font: var(--bold-S);
    color: var(--gray-300);
    margin-bottom: 10px;
}

#comment {
    min-height: 130px;
    font: var(--body-R);
    color: var(--black);
}

#comment > textarea {
    width: 100%;
    height: 100%;
}

#comment ::placeholder {
    font: var(--body-R);
    color: var(--gray-200);
}
